@model IEnumerable<BulletinSlideshow.Models.Information>

@{
    ViewBag.Title = "Bulletin Slideshow";
}

@section scripts {
    <script>
        $(function () {
            $('#slideTab').liquidSlider({
                autoSlide: true,
                //autoSlideInterval: @ViewBag.Parameter.SlideInterval,
                autoSlideInterval: 500,
                autoHeight: false
            });

            $('.notifyMessage').marquee({
                speed: 7000,
                gap: 50,
                delayBeforeStart: 0,
                direction: 'left',
                duplicated: false
            });

            // Test SignalR
            var push = $.connection.pushNotification;

            push.client.refreshPage = function () {
                location.reload();
            };

            $.connection.hub.start()
            .done(function () {
                console.log("Connection Successful.");
            })
            .fail(function (ex) {
                console.log("Connection Failed.");
            });
        })
    </script>
}

<div class="liquid-slider" id="slideTab">
    @{ int id = 0; }
    @foreach (var category in ViewBag.Category)
    {
        
        if (id == category.Id)
        {
            continue;
        }
        else
        {
            id = category.Id;
        }
        <div>
            <h2 class="title">@category.Name</h2>
            <ul>
            @foreach (var info in Model)
            {
                
                if (info.CategoryId == id)
                {
                    <li style="font-size:xx-large">@info.Content</li>
                }
            }
            </ul>
        </div>
    }
</div>

@if (ViewBag.NotifyMessage != null)
{
    <br />
    <br />
    <div class="notifyMessage well" style="font-size:xx-large; font-weight:bold">
        @ViewBag.NotifyMessage
    </div>
}
